@import 'vars.css';

.titleContainer {
  padding-bottom: 18px;
}

.title {
  @mixin font sidebarTitle;
  color: $sidebar-title;
  padding-bottom: 32px;
  position: relative;
  display: inline-block;
  transition: color 1s $ease-out-quart;
  cursor: pointer;

  &:after {
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    background-color: $sidebar-link;
    transition: all 1s $ease-out-quart;
  }

  &:hover {
    color: black;

    &:after {
      transform: translateY(-20px);
      height: 2px;
      background-color: $red;
    }
  }
}

.link {
  @mixin font sidebarLink;
  color: $sidebar-link;
  padding: 12px 0;
  cursor: pointer;
  transition: color 0.2s $ease-out-quart;
  display: block;

  &:hover {
    color: black;

    .linkLabel:after {
      width: 100%;
    }
  }
}

.linkLabel {
  position: relative;
  display: inline-block;
  padding: 5px 0;

  &:after {
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    border-bottom: 2px solid $red;
    transition: width 0.2s $ease-out-quart;
  }
}

.activeLink {
  color: black;

  .linkLabel:after {
    width: 100%;
    border-bottom-color: black;
  }
}

.links:hover .activeLink {
  color: $sidebar-link;

  .linkLabel:after {
    border-bottom-color: $sidebar-link;
  }

  &:hover {
    color: black;

    .linkLabel:after {
      border-bottom-color: $red;
    }
  }
}
