@import 'vars.css';

.home {
  @mixin flex right, start, center;
  height: 100vh;
  width: 100vw;
}

.hero {
  border: 1px solid $gray-dark;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 100px;
  text-align: center;
  width: 700px;
  max-width: calc(100% - 50px);
  box-shadow: $box-shadow;

  .title {
    @mixin font heroTitle;
    color: $gray-darker;
  }

  .links {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 100px;
  }

  .link {
    @mixin font sidebarLink;
    margin: 6px 10px;
    color: $gray-dark;
    cursor: pointer;

    &:hover {
      color: black;
    }
  }
}

.heading {
  @mixin font heading;
  margin-bottom: 20px;
  color: $gray-darkest;
}

.description {
  @mixin font bodyText;
  margin-bottom: 20px;
}

.books {
  @mixin font bodyText;

  li {
    margin-bottom: 5px;

    &.favorite {
      font-weight: 600;
    }

    .author {
      @mixin font label;
      color: $gray-darker;
      margin-left: 5px;
    }
  }
}

.posts {
  @mixin font bodyText;

  li {
    margin-bottom: 5px;

    .date {
      @mixin font label;
      color: $gray-darker;
      margin-left: 5px;
    }
  }
}