@import 'vars.css';

.content {
  width: 700px;
  max-width: calc(100% - 50px); 
  margin: 0 auto;
  padding: 50px 0;
}

.mobileNav {
  display: none;
}

@media (max-width: $mobile-max-width) {
  .desktopNav {
    display: none;
  }

  .mobileNav {
    display: inherit;
  }

  .app {
    flex-direction: column;
  }
}
