@import 'vars.css';

.post {
  a {
    color: $red;

    &:hover {
      text-decoration: underline;
    }
  }

  br {
    height: 30px;
  }

  p {
    @mixin font bodyText;
    color: $text;
    width: 800px;
    margin: 30px 0;
  }

  h2 {
    @mixin font heading;
    color: $text-light;
    margin-top: 60px;
    margin-bottom: 40px;
  }

  h3 {
    @mixin font heading2;
    color: $text-light;
    margin-top: 40px;
    margin-bottom: 30px;
  }
}

.title {
  @mixin font pageTitle;
  margin-bottom: 30px;
  color: $text;
}

.text {
  @mixin font bodyText;
}

.note {
  @mixin font bodyText;
  color: $text-light-2;
  font-style: italic;
  width: 800px;
  margin: 30px 0;
}

.blockFormula {
  padding: 10px 0;
}

.footer {
  margin-top: 80px;
  margin-bottom: 0;

  .heart {
    margin: 0 3px;
  }
}
